body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #5d0f6d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  row-gap: 10px;
}

.players {
  flex-grow: 1;
  overflow-y: auto;

}

.player {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #008DD5; 
  cursor: pointer;
  transition: 0.3s;
}

.player.clicked {
  background-color: #CC92C2;
  cursor: default;
}

.online {
  background-color: green;
}

.offline {
  background-color: gainsboro;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #A8F9FF;
}

.chat-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #AA7BC3;
   padding: 10px;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f6d8ee;
  border-radius: 4px;
  max-width: 60%;
  width: fit-content;
  text-wrap: balance;
  overflow-wrap:  break-word;
}
.message-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.message-container.from {
  align-items: flex-start;
}
.message-container.to {
  align-items: flex-end;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #a5f6ec;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background-color: #7289da;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.message-input button:disabled {
  background-color: #ccc;
}
